body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#experience {
    width: 100vw;
    height: 500px;
    background-color: #aaaaaa;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(145deg, rgb(255, 255, 255, 0.85), rgb(255, 255, 255, 0.85)), url("../images/theme-a.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 90%, 20% 90%, 25% 100%, 30% 90%, 100% 90%, 100% 0%, 0% 0%);
}

#socialNavbar {
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 225px 0 auto;
}

#socialNavbar> nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 25px;
    background-color: transparent;
}

.social-navs {
    display: flex;
    flex-direction: column;
}

.social-navs> div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-navs> label {
    text-align: center;
    font-size: 12px;
    margin: 2px 0 0 0;
    color: #121212;
    font-weight: bolder;
}

#experience> :nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    gap: 25px;
}

#Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-right: auto;
}

#Logo> h1 {
    margin: 0;
    font-size: 45px;
}

#Logo> span {
    font-size: 12px;
}

#experience> header> nav {
    width: auto;
    height: 45px;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navlinks {
    width: 125px;
    height: 45px;
    font-size: 18px;
    color: red;
    font-weight: bolder;
    line-height: 45px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    text-align: center;
    letter-spacing: 1px;
    border-right: 1px solid #555555;
    text-decoration: none;
}

.navlinks:hover {
    color: white;
    background-color: red;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    border: 0;
}

#searchbar {
    width: 300px;
    height: 45px;
    margin: auto 0;    
    border-radius: 2px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchbar> input {
    font-size: 14px;
    color: white;
    background-color: transparent;
    text-indent: 5px;
    flex: 4;
    height: 45px;
    border: 0;
}::-webkit-input-placeholder {
    font-size: 14px;
    color: white;
    text-indent: 10px;
}

#searchbar> div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#experience> article {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: calc(50vw - 300px);
    margin-top: 50px;
}

#experience> article> h1 {
    font-size: 85px;
    font-weight: bolder;
    color: #555555;
    letter-spacing: 2px;
    margin: 0;
}

#experience> article> span {
    font-size: 21px;
}

#resume {
    width: 1000px;
    min-height: 100px;
    max-height: 1000px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
}

#left-resume {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

}

#right-resume {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right-resume> h1 {
    color: #555555;
    margin: 2px 0;
}

.job-review {
    display: flex;
    flex-direction: column;
}

.company-experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
}

.company-experience> :nth-child(1) {
    font-weight: bold;
    background-color: yellow;
}

.company-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
}


.education{
    display: flex;
    flex-direction: column;
}

.education-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
}

.education-details> :nth-child(1) {
    font-weight: bold;
    background-color: yellow;
}

.education-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
}

footer {
    width: calc(100vw - 200px);
    height: 125px;
    padding: 0 100px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    clip-path: polygon(0% 0%, 70% 0%, 72% 25%, 74% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

#Logo-B {
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto 0 15px;
}

#Logo-B > h1{
    color: red;
    margin: 0 5px 0 0;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

#Logo-B> label {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

footer> nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    height: 25px;
}

#socialmedia-reminder {
    width: auto;
    height: 25px;
    line-height: 25px;
    color: white;
    font-size: 21px;
    font-weight: bolder;
}

.social-navlinks {
    display: flex;
    flex-direction: column;
}

.social-navlinks> div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-navlinks> label {
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 2px 0 0 0;
}